<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="desktop-desktop-wrapper">
      <div class="desktop-desktop">
        <div class="desktop-overlap-group">
          <div class="desktop-BG-shade"></div>
          <img class="leaf" src="/images/leaf.png" />
          <img class="orange" src="/images/orange.png" />
          <div class="desktop-rectangle"></div>
          <img class="shoppingCart" src="/images/shopping-cart.png" />
          <img class="shades" src="/images/shades-nobg.png" />
          <h1 class="desktop-text-wrapper">Cool Shades</h1>
          <p class="desktop-p">You just Stumbled with the Coolest Shades ever created, beeware who you tell!</p>
          <img class="desktop-polygon" src="/images/polygon-1.svg" />
          <img class="homeIcon" src="/images/home.png" />
          <div class="desktop-div">George and Friends shades</div>
        </div>
      </div>
    </div>
  </body>
</html>
